/*Ini CSS*/
body {
    font-family: 'Roboto';
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation-icon {
    background-image: url(../assets/ghibli.gif);
    border: 0;
    height: 50px;
    width: 50px;
    background-size: cover;
}

.navigation-button {
    padding-top: 10px;
}

.navigation-container>nav>button {
    height: 32px;
    border: 1px solid black;
    background-color: white;
}

.content-container>header {
    text-align: center;
}

.header-header {
    font-size: 50px;
}

/*2 kotak*/
.core-content {
    display: flex;
}

.core-item {
    height: 320px;
    width: 100%;
    border: 1px solid black;
    margin: 18px;
}

.core-item>header>h2 {
    text-align: center;
}

.core-item>header>p {
    text-align: center;
    margin: 20px;
    font-size: smaller;
}

/*KOTAK KANAN*/
.item-right {
    position: relative; 
    background-color: whitesmoke;
    border: 0;
    border-radius: 8px;
    padding-bottom: 70px;
    padding-top: 20px;
}

.item-form {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 50px; 
}

.item-form>label {
    margin: 50px;
    margin-top: 10px;
}

.item-form>input,
.item-form>select {
    height: 32px;
    width: 75%;
    margin-left: 50px;
    margin-top: 3px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

::placeholder {
    padding-left: 10px;
}

.button-send {
    padding: 10px;
    width: 200px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); 
}

/*OUR PACKAGE*/
.our-package-content {
    align-content: center;
    background-color: whitesmoke;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}

.our-package-content>h1 {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.our-package-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.product {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.image {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}