/*Ini CSS*/
body {
    font-family: 'Roboto';
    margin: 0;
    color: #3B4754;
}

p {
    color: #798DA3;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation-icon {
    background-image: url(../assets/ghibli.gif);
    border: 0;
    height: 50px;
    width: 50px;
    background-size: cover;
}

.navigation-button {
    padding-top: 10px;
}

.navigation-container>nav>button {
    height: 32px;
    border: 1px solid rgba(135, 135, 135);
    background-color: white;
}

hr {
    border: none; 
    height: 1px; 
    background-color: rgba(192, 192, 192, 0.8);
    margin: 0;
}

.header-header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.content-container>header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.content-container>header>p {
    font-weight: normal;
}

/*2 kotak*/
.core-content {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

/*KOTAK KIRI*/
.item-left {
    margin-left: 18px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.testimony {
    border: 1px solid black;
}
.information {
    font-size: small;
    text-align: justify;
}

.information-header {
    font-size: 20px;
}

.information-header {
    font-size: 20px;
}

.information-content {
    font-size: 15px;
    color: #798DA3;
}

/*KOTAK KANAN*/
.item-right {
    position: relative; 
    background-color: #EDF0F4;
    border: 0;
    border-radius: 8px;
    width: 50%;
    height: 400px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.item-right-header {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.item-right-header>p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: smaller;
}

.item-form {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.item-form>label {
    font-size: small;
    font-weight: bold;
}

.item-form>input,
.item-form>select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    border: 2px solid #C9D3DD;
    border-radius: 4px;
    color: #C9D3DD;
    background: white;
}

::placeholder {
    color: #C9D3DD;
    padding-left: 10px;
}

.button-send {
    padding: 14px;
    width: 100%;
    background-color: #29323D;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

/*TOP DESTINATION*/
.top-destination-content {
    align-content: center;
    background-color: #EDF0F4;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}

.top-destination-content > h1 {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin: 0;
}

.top-destination-content>p {
    text-align: center;
    margin: 0;
    font-size: 15px;
}

.top-destination-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.product {
    background-color: #EDF0F4;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.image {
    max-width: 100%; 
    height: auto; 
}

.top-destination-text {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.product>.top-destination-text>h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}

.product>.top-destination-text>p {
    font-size: smaller;
}


/*Bottom part*/
.bottom-text {
    text-align: center;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.bottom-text>h1 {
    font-size: 30px;
    margin: 20px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.book-now {
    border: 0;
    background-color: #29323D;
    border-radius: 4px;
    color: white;
    width: 25%;
    height: 40px;
    font-weight: bold;
}

/*footer*/
.footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.social-media-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.social-media-icons {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.copyright>p {
    margin: 10px;
}