/*Ini CSS*/
body {
    font-family: 'Roboto';
    margin: 0;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: whitesmoke ;
}

.navigation-icon {
    background-image: url(../assets/ghibli.gif);
    border: 0;
    height: 50px;
    width: 50px;
    background-size: cover;
}

.navigation-button {
    padding-top: 10px;
}

.navigation-container>nav>button {
    height: 32px;
    border: 1px solid rgb(135, 135, 135);
    background-color: white;
}

hr {
    border: none; 
    height: 1px; 
    background-color: rgba(192, 192, 192, 0.8);
    margin: 0;
}

.header-header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.content-container>header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

/*2 kotak*/
.core-content {
    display: flex;
    margin: 50px;
}

.core-item {
    height: 320px;
    width: 100%;
    border: 1px solid black;
    margin: 18px;
}

.core-item>header>h2 {
    text-align: center;
}

.core-item>header>p {
    text-align: center;
    margin: 20px;
    font-size: smaller;
}

/*KOTAK KANAN*/
.item-right {
    position: relative; 
    background-color: whitesmoke;
    border: 0;
    border-radius: 8px;
    padding-bottom: 70px;
    padding-top: 20px;
}

.item-form {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 50px; 
}

.item-form>label {
    margin: 50px;
    margin-top: 10px;
}

.item-form>input,
.item-form>select {
    height: 32px;
    width: 75%;
    margin-left: 50px;
    margin-top: 3px;
    margin-bottom: 10px;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 4px;
}

::placeholder {
    padding-left: 10px;
}

.button-send {
    padding: 10px;
    width: 200px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: white;
    border: 1px solid rgb(135, 135, 135);
}

/*OUR PACKAGE*/
.top-destination-content {
    align-content: center;
    background-color: whitesmoke;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}

.top-destination-content>h1 {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 0;
}

.top-destination-content>p {
    text-align: center;
    margin: 0;
    font-size: 15px;
}

.top-destination-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.product {
    background-color: whitesmoke;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.image {
    max-width: 100%; 
    height: auto; 
}

.top-destination-text {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.product>.top-destination-text>h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}

.product>.top-destination-text>p {
    font-size: smaller;
}


/*Bottom part*/
.bottom-text {
    text-align: center;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.bottom-text>h1 {
    font-size: 30px;
    margin: 20px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.book-now {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid rgb(135, 135, 135);
    background-color: white;
    width: 25%;
    height: 40px;
}

